body{
	background-color: #000108;
	color: #F8F8F8;
    margin: none;
    font-family:'Poppins', sans-serif;
	position: relative;
	margin: 0px;
	padding: 0px;
}

/* HEADER *****************************/
/* Style the navigation menu */
.topnav {
	overflow: hidden;
	background-color: rbga(0,0,0,0.5);
	position: fixed;
	top: 0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
	display: none;
}

/* Style navigation menu links */
.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
	background: #133C55;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
	background-color: #ddd;
	color: #133C55;
}

/* Style the active link (or home/logo) */
.active {
	background-image:url("../Img/KEYS_logo_shadow2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	margin-left: 10px;
	width:20px;
	padding:60px;
	padding-top: 5px;
	position:fixed;
	z-index: 999;
	opacity: 70%;
	display: inline-block;
}

.active:hover{
	animation: fadein ease-in 50ms;
	opacity: 90%;
}

@keyframes fadein{
	0%{opacity: 70%}
	100% {opacity: 90%}	
}

.lowernav{
	z-index: 99;
	overflow: hidden;
	background-color: #000000b9;
	position: fixed;
	width:100%;
}

.lowernav img{
	width: 10%;
	padding-right: 15px;
	vertical-align: middle;
}

.lowernav a{
	float: right;
	padding: 18px;
	color: rgb(197, 197, 197);
	text-decoration: none;
	font-size: 18px;
	width: 12%; 
	text-align: center;
}

.lowernav a:hover {
	background-color:#133C55;
	color: white;
}

@media screen and (max-width: 500px) {
	.lowernav a {
		float:none;
		display: block;
		width: 100%;
		text-align: left;
	}
}

/* COMMON ELEMENTS ********************/
a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 9999;
	font-size: 20px;
	border: none;
	outline: none;
	background-color: rgb(0, 110, 255);
	color: white;
	cursor: pointer;
	padding: 20px;
	border-radius: 20px;
}

/* BIG BACKGROUND PIC BEHIND TITLE - HOME PAGE ONLY*/
.head_pic{
	max-width: 100%;
	height: 100%;
	background-image: url("../Img/microchip10.png");
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: bottom;
	padding-bottom: 350px;
	position: relative;
}

.head_pic #logo{
	max-width: 40%;
	padding-top: 250px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	animation: fadeIn ease 10s;
}

.head_pic p{
	text-align:center;
	font-size: 20px;
	letter-spacing: 7px;
	animation: fade ease-in 5s;
	animation-iteration-count: infinite;
}

@keyframes fade {
	0% {opacity:0.2;}
	47% {opacity:1;}
	52% {opacity:1;}
	99% {opacity:0.2;}
	100% {opacity:0.2;}
}


/*add_show*/

.add-show {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
/* Footer */

  	footer {
		/*position: fixed;
		bottom: 0;
		float: right;*/
	}

	.footer hr{
		border-top-color:#bbb;
		opacity:0.5
	}

	.footer a{
		color: white;
	}

	.footer hr.small{
		margin:20px 0
	}

	.social-icons{
	  padding-left:0;
	  margin-bottom:0;
	  list-style:none;
	}

	.social-icons ul {
		position: fixed;
		float: right;
		
	}

	.social-icons li{
		display:inline-block;
		margin-bottom:4px
	}

	.social-icons li.title{
		margin-right:15px;
		text-transform:uppercase;
		color:#96a2b2;
		font-weight:700;
		font-size:13px
	}

	.social-icons a{
		background-color:#595c5e;
		color:#98c6e9;
		font-size:16px;
		display:inline-block;
		line-height:55px;
		width:55px;
		height:55px;
		text-align:center;
		margin-right:8px;
		border-radius:100%;
		-webkit-transition:all .2s linear;
		-o-transition:all .2s linear;
		transition:all .2s linear
	}

	.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
		color:#fff;
		background-color:#29aafe
	}

	.social-icons a.facebook:hover{
		background-color:#3b5998
	}
	.social-icons a.twitter:hover{
		background-color:#00aced
	}
	.social-icons a.linkedin:hover{
		background-color:#007bb6
	}
	.social-icons a.instagram:hover{
		background-color:#ea4c89
	}
	
	.social-icons a.youtube:hover{
		background-color:#FF0000
	}

	.social-icons li{
		background-position: 100% .4em;
		padding-right: .6em;
	}

	label {
		color: #ffffff;
		display: block;
		font-size: 0.8;
		font-weight: 600;
		letter-spacing: 0.25;
		margin: 0 0 1 0;
		text-transform: uppercase;
	}

	@media (max-width:767px){
		.social-icons li.title{
			display:block;
			margin-right:0;
			font-weight:600
		}
	}

/* Table one Pricing */

.has-it{
	fill: white;
	color: white;
}

.has-it:hover{
	fill: green;
	color: green;
}

.does-not-it{
	/*fill: #595c5e !important;*/
	color: #595c5e;
	text-decoration: line-through;
}
.does-not-it path{
	fill: #595c5e !important;
}

.does-not-it:hover{
	fill: red;
	color: red;
	text-decoration: line-through;
}

.table_text {
	text-align: left;
}

table, th, td {
	border-collapse: collapse;
	padding: 5px;
}

.table_text th{
	padding-left: 5%;
	border-right: 1px solid rgb(101, 237, 255);
}

.table_text th:last-child{
	border:0;
}

table {
	border-spacing: 15px;
	width: 96%;
}

.not_last{
	border-right: 1px solid rgb(101, 237, 255);
}

table[align="center"] {
    margin: 0 auto;
}

button.buy_buttons_2{
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #3139a3;
	text-shadow: 1px 1px rgb(53, 53, 53);
	border: none;
	border-radius: 25px;
}

button.buy_buttons{
	display: inline-block;
	text-shadow: 1px 1px rgb(53, 53, 53);
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: None;
	border: 10px solid #3139a3;
	border: none;
	border-radius: 25px;
}

button.buy_buttons:hover{
	background-color: #3139a3;
	color:white;
}



/* Table 2 */

.s_table{
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	
}

.tb_two{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	grid-gap: 2.5rem;
	padding: 5rem 0
}

.mod-img{
	margin-bottom: 25px;
  	max-width: 100%;
}

.text2{
	color: rgb(73, 54, 240);
  	font-weight: 600;
  	letter-spacing: 1px;
}

.insid2_tab_2{
	color: #016FF9;
  	font-weight: 600;
	letter-spacing: 1px;
	margin: 50px 0 25px;
	list-style: None;
}

.items{
	border-top: 1px solid #e1f1ff;
	font-size: 12px;
	line-height: 1.5;
	padding: 15px 0;
}

.text_in_table{
	color: #016FF9;
	display: block;
	font-size: 32px;
	font-weight: 700;
}

.Sigh_up_button{
	border: 1px solid #3e24d4;
	border-radius: 10px;
	color: #348EFE;
	display: inline-block;
	margin: 25px 0;
	padding: 15px 35px;
	text-decoration: none;
	transition: all 150ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
  background-color: #0685f5;
}

a:visited {
	text-decoration: none;
  }

.row_two{
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: #c2c2c2;
	padding: 2rem;
	position: relative;
}

.row_two::before, .row_two::after{
	content: '';
	position: absolute;
}

.row_two::before{
	background-color: #151515;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.row_two::after{
	background: var(--background-color);
	background-size: var(--background-size);
	top: -3px;
	left: -3px;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	z-index: -2;
}

.row_two span.pprice{
	display: block;
}

.row_two .features-item{
	padding: 1rem;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	font-size: 1.7rem;
}

.row_two .pprice{
	background: var(--background-color);
	background-size: var(--background-size);
	-webkit-background-clip: text;
	color: transparent;
	padding: 1rem;
	margin-bottom: 2rem;
}

.row_two .homy:hover{
	border: 1px solid #f25f61;
	color: #f25f61;
}
  
/*  HOME PAGE *************/

/* PRICING SECTION ************/
	pricing-section{
		padding: 0;
		margin:0;
	}

	body{
		font-family:'Poppins', sans-serif ;
		font-size: larger;
	}

	.container-pricing {
		height:100vh;
		display: flex;
		background: azure;
	}
	
	section {
		height: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	section:hover{
		flex: 2;
		transition: .5s;
	}

	section h1{
		background: rgba(0, 0, 0, 1);
		color: white;
		padding: 12px 32px;
	}

	.model1 {
		background: url('../Img/apple_watch4.jpg')
		azure;
		background-position: center;
		background-size: cover;
		background-blend-mode: multiply;
	}
	.model2 {
		background: url('../Img/apple_watch2.jpg')
		azure;
		background-position: center;
		background-size: cover;
		background-blend-mode: multiply;
	}
	.model3 {
		background: url('../Img/apple_watch1.jpg')
		azure;
		background-position: center;
		background-size: cover;
		background-blend-mode: multiply;
	}
	.model4 {
		background: url('../Img/apple_watch3.jpg')
		azure;
		background-position: center;
		background-size: cover;
		background-blend-mode: multiply;
	}

	
/*Head pic - OTHER PAGES*/
.side_pic{
	max-width: 100%;
	background-image: url("../Img/blue_circle15.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	padding-bottom: 70px;
	text-align: left;
	position: relative;
}

.side_pic #title{
	margin-top: 120px;
	margin-left: 80px;
	font-size: 32pt;
	color: white;
	letter-spacing: 4px;
	display: inline-block;
	border: 2px solid white;
	padding: 10px;
}

.smaller_title{
	font-size: 28pt;
	display: inline-block;
}

/* Qute Home */

.q_al{
	text-transform: uppercase;
	font-size: 8em;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 10px;
}

.Q_class{
	background-color: #0e3b5c;
  	font-size: 62.5%;
	width: 705px;
	margin: 80px auto;
	  
}



.q_person{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	font-family: courier, mono-space;
	float: right;
}


/*Buy now tables */
.product {
	padding:1em; 
	border:1px solid #E0E4CC; 
	margin-right:1em; 
	border-radius:5px;
}

.product_list {
	display: flex; 
}

.table_catable_cart_adding {
	max-width: 800px; 
	margin: 5em auto; 
	background:rgb(64, 96, 235); 
	padding:30px;
	border-radius:5px;
	/*float:right;*/
	text-align: center;
	bottom: 500 px ;
}

#tab_twow {
	margin-right:0;
	margin-left:auto;
}


button, input[type="submit"] { 
    border:1px solid #ff7c1e; 
    color:#fff; 
    background: #fd8c36; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    border-radius: 1.2em;
}
button:hover, button:focus, button:active {
    background: #A7DBD8;
    border-color:#0c87ec;
    color:#000;
    cursor: pointer;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }

.tab_buy{
	margin-left: auto;
	  margin-right: auto;
}

/* FAQ page ************** */
.rows-1{
	border: border-box;
	margin-top: 55px;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 40px;
	background-color:#005357;
	border-radius: 15px;
	text-align: left;
	text-indent: 25px;
}

.title_h3{
		font-family: 'Poppins','sans-serif';
		padding: 8px;
		margin-bottom: 15px;
		background-color: #001424;
		color: white ;
		font-size: larger;
		border-radius: 15px;
		text-align: center;
	}

.rows-2{
	position: auto;
	align-items: center;
	background-position: auto;
	border: border-box;
	margin: 75px;
	background-color: #005357;
	border-radius: 15px;
	text-align: left;
	text-indent: 12px;
}
.rows-3{
	position: auto;
	align-items: center;
	background-position: auto;
	border: border-box;
	margin: 75px;
	background-color: #005357;
	border-radius: 15px;
	text-align: left;
	text-indent: 12px;
}
.rows-4{
	position: auto;
	align-items: center;
	background-position: auto;
	border: border-box;
	margin: 75px;
	padding-bottom: 10px;
	background-color: #005357;
	border-radius: 15px;
	text-align: center;
	text-indent: 20px;
}

.wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
}



/* ABOUT US - Timeline*/
#timeline_table{
	padding: 5px;
	margin-top: 20px;
	padding-top: 20px;
	background-color: rgb(0, 0, 0);
	padding-bottom: 750px;
}

#timeline{
	height: 500px;
	overflow-y: scroll;
}

.tt_fl{
	float:left;
	width:50%;
}

.tt_fl:after{
	float: none;
	clear: both;
}

#tt_mp{
	background-image: url('../Img/circuit_tree6.png');
	background-position: top;
	width: 550px;
	height: 900px;
	margin-right: 20px;
	margin-left:50px;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-size: 100%;
}

.colu{
	width: 25%;
	padding: 20px 70px;
	line-break: loose;
}

#tt_table{
	width:100%;
	height: 650px;
	margin-left: 80px;
}

#tt_table tr{
	text-align: center;
	overflow-wrap: normal;
	/*border: 2px solid white;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#tt_table th{
	color: rgb(255, 123, 0);
	font-size: 24pt;
	font-weight: 500;
	padding: 0px 80px;
}

#tt_table td{
	color: rgb(180, 180, 180);
	text-overflow: ellipsis;
	text-align: left;
}

#tt_table tr:hover{
	background-color: rgb(35, 55, 66);
}

#tt_title{
	font-size: 28pt;
	color: white;
	text-align: center;
	align-self: center;
	width: 100%;
	margin-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*ABOUT US - Intermission*/

#interm{
	background-image: url('../Img/bg_hexa2.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 150px;
	width: 100%;
}


/*ABOUT US - team*/

#au_team{
	background-color: rgb(0, 7, 37);
	background-image: url(../Img/key.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	color: white;
	font-size: 42pt;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 700px;
}

.at_layout{
	float: left;
}

#at_title{
	width: 40%;
	font-size: 90pt;
	text-align: left;
	display: block;
	margin: auto;
	transform: translate(10%, 30%);
	letter-spacing: 3px;
}

.pd_text{
	margin: 20px 0px;
	width: 200px;
	text-align: center;
}

.pd_element{
	float: left;
}

.pd_prof{
	width: 180px;
	height: 180px;
	overflow:hidden;
	border-radius: 150px;
	border-width: 2px;
	display: block;
	align-items: center;
	margin:auto;
	border: 2px solid chocolate;
}

.people_divider{
	display:block;
	width: 50%;
}

.pd_person{
	font-size: 14pt;
	margin: 20px 20px;
	padding: 10px 10px;
	align-content: center;
}

.at_layout:after{
	float: none;
	clear: both;
}

/*ABOUT US - Quote*/
#au_quote{
	color: white;
	font-size: 24pt;
	text-align: center;
	width:80%;
	padding: 80px 0px;
	display: block;
	margin: auto;
	font-style: italic;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600px;
}

#au_cite{
	text-align: left;
	padding-left: 1000px;
	font-size: 14pt;
	color: rgb(172, 172, 172);
}

/*ABOUT US - Goal*/
#au_goal{
	width:100%;
	height: 700px;
	align-items: center;
}

.g_section{
	float:left;
	transform:translate(100%, 0%);
	margin: 0px 25px;
	width:18%;
	height: 600px;
	text-align: center;
	align-items: center;
	align-content: center;
	overflow:hidden;
}

#gs_unknown{
	background-image: url('../Img/roads3.png');
	background-position: center;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 40px;
}

#gs_unknown img{
	padding-top: 40px;
}

#gs_incl{
	background-image: url('../Img/rocks5.png');
	background-position: center;
	overflow: hidden;
	background-repeat: no-repeat;
	margin-left: 50px;
	background-size: cover;
	height: 640px;
}

#gs_incl img{
	width: 60px;
	padding-top: 50px;
	padding-bottom: 5px;
}

#gs_sus{
	background-image: url('../Img/sust2.png');
	background-position: left;
	overflow: hidden;
	margin-left: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 640px;
}

#gs_sus img{
	padding-top: 40px;
}

.g_section img{
	width: 50px;
	display:block;
}

.g_text{
	color: white;
	width:100%;
	padding-bottom: 5px;
}

.g_section img{
	display: block;
	margin: auto;
}

.g_section:hover{
	box-shadow: 0 3px 10px 0 rgba(151, 243, 255, 0.733), 0 3px 10px 0 rgba(151, 243, 255, 0.733);
	transition-timing-function: linear;
	transition-duration: 0.3s;
}

/* ABOUT US - goal flashcards*/
#gu_front, #gi_front, #gs_front{
	display:block;
}

#gu_back, #gi_back, #gs_back{
	display: none;
	padding: 10px 10px;
	letter-spacing: 1px;
	text-align: left;
	height: 610px;
	vertical-align: center;
	margin: 5px;
	font-size: 12pt;
	overflow: scroll;
	background-color: rgba(0, 1, 14, 0.719);
	background-size: cover;
}

.ani_fadeIn{
	animation: fadeIn ease 1s;
}

.ani_fadeOut{
	animation: fadeOut ease 1s;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}

/* SCROLLBAR */
::-webkit-scrollbar {
width: 4px;
background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.096); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: rgb(160, 160, 160); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #e2e2e2; 
}

/* HIGHLIGHT COLOUR */
::selection{
	background: chocolate;
	border-radius: 20px;
}

/*#table_one table, th {
	border-bottom: 2px solid white;
	padding: 5 px;
}*/

#row_one {
	border-bottom: 2px solid white;
	padding: 5 px;
}

#table_one table, tr {
	border: none;
	padding: 5 px;
}

#sec_one {
	background: -webkit-linear-gradient(left, #247ce0, #0804f5);
  	background: linear-gradient(to right, #0860e4, #072cce);
}

#row_one th{
	border: 2px solid white;
}



/* HOME - Buy Now link*/

.h_buynow{
	width: 100%;
	height: 90px;
	float:left;
}

.h_buynow img{
	display: inline-block;
	vertical-align: middle;
	width: calc((100% - 160px)/2);
}

.h_buynow button{
	background-color: rgb(255, 38, 0);
	border-radius: 20px;
	width: 140px;
	border-color: rgb(255, 38, 0);
	transition-timing-function: linear;
	transition-duration: 0.3s;
}

.h_buynow a{
	color: white;
}

.h_buynow button:hover{
	border-color: rgba(151, 243, 255, 0.733);
}

/*HOME - Navigation Section*/

#h_navitable{
	width: 100%;
	height: 780px;
	align-items: center;
}

.nt_line{
	display: block;
	margin: auto;
	padding-left: 4%;
	padding-bottom: 5%;
}

.nt_lform{
	color: white;
	width: 325px;
	height: 600px;
	padding-top: 5%;
	text-align: center;
	margin: 0px 20px;
	overflow: hidden;
	font-size: 24pt;
	/*text-shadow: 2px 2px #000108;*/
	float:left;
	display: in-line block;
	align-self: center;
	font-variant: small-caps;
	box-shadow: 1px 1px black, 1px 1px black;
	border: 1px solid rgba(1, 0, 8, 0);
	transition-timing-function: linear;
	transition-duration: 0.5s;
}

.nt_lform:hover{
	border: 1px solid rgba(151, 243, 255, 0.733);
}

#nt_team{
	background-image: url(../Img/linesdotsA.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}


#nt_watch{
	background-image: url(../Img/linesdotsB.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

#nt_mod{
	background-image: url(../Img/linesdotsC.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

#nt_contact{
	background-image: url(../Img/linesdotsD.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.nt_title{
	border: 1px solid white;
	padding: 10px;
	max-width: fit-content;
	display: block;
	margin: auto;
}

/* HOME - Intermission*/

#h_intrm{
	background-image: url("../Img/cubes2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 200px;
}

/* HOME - Intro Starter */

#h_start{
	width: 100%;
	background-image: linear-gradient( rgb(0, 0, 22), rgb(14, 49, 124));
	height:545px;
}

.s_element{
	float: left;
	justify-content: space-between;
}

#h_start img{
	width: 20%;
}

#s_title{
	padding-top:10px;
	font-size: 50pt;
	text-align: center;
	text-shadow: 1px 1px 3px black;
	overflow-wrap: normal;
}

.st_little{
	padding: 0px 20px;
	font-size: 20pt;
	text-shadow: 1px 1px 2px black;
	overflow-wrap: normal;
	text-align:center;
}

#s_contain{
	/*background-color: burlywood;*/
	width: 70%;
	height: 490px;
	padding: 20px;
	padding-top: 2%;
}

#s_topfill{
	width: 200px;
	height: 100px;
	margin-top: 20px;
	/*background-color: crimson;*/
	border-top: white;
	border-left: white;
	border-bottom: rgba(255, 255, 255, 0);
	border-right:rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 5px;
}

#s_botfill{
	margin-left: 80%;
	width: 200px;
	height: 100px;
	/*background-color: crimson;*/
	border-bottom: white;
	border-right: white;
	border-top: rgba(255, 255, 255, 0);
	border-left:rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 5px;
}

/*HOME - Intro Mid*/

#h_mid{
	width: 100%;
	background-image: linear-gradient(rgb(0, 79, 143), rgb(0, 133, 111));
	height:545px;
}

#h_mid img{
	max-height: 540px;
	margin: 0px 50px;
}

#m_contain{
	width: 70%;
	height: 490px;
	padding: 20px;
	padding-top: 2%;
}

/* HOME -Intro Bottom*/

#h_bot{
	width: 100%;
	background-image: linear-gradient( rgb(8, 141, 119), rgb(0, 90, 48));
	height:545px;
}

#h_bot img{
	width: 30%;
	padding-top: 2%;
	padding-left: 20px;
	/*max-height: 540px;*/
}

#b_contain{
	width: 60%;
	height: 490px;
	padding: 5px 20px;
}

/* HOME - Intermission 2*/

#h_intrm2{
	background-image: url("../Img/electric_down2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 200px;
}

/* WATCHES - Top Definition*/
#pd_basic{
	width: 100%;
	align-content: center;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
	overflow-wrap: normal;
}

#pdb_text{
	margin: 25px 200px;
	overflow-wrap: normal;
	color: rgb(190, 190, 190);
	font-size: 14pt;
}

#pdb_title{
	font-size: 36pt;
	letter-spacing: 1px;
	color: white;
}


/* WATCHES - Characteristics Table*/

#pd_listpic{
	width: 100%;
	height: 280px;
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lp_element{
	float: left;
	height: 95%;
	margin: 5px 10px;
	align-content: center;
}

#lp_content{
	background-image: linear-gradient(rgb(0, 2, 12), rgb(13, 12, 88));
	border: 4px solid rgb(190, 190, 190);
	width: 82%;
	margin-right: 25px;
	overflow-wrap: normal;
	text-align: center;
}

#lp_pic{
	margin-right: 0px;
	vertical-align: middle;
}

#lp_title{
	padding-top: 20px;
	width: 100%;
	color: white;
	font-size: 24pt;
	font-variant: small-caps;
}

#lp_list{
	width: calc(100%-20px);
	margin: 10px;
	text-align: left;
}

.lp-list_item{
	float: left;
	width: 25%;
	line-height: 40px;
}

.lp-list_item ul{
	list-style-type: none;
}

.lp-list_item li:hover{
	color: rgb(113, 223, 217);
}

/*WATCHES - Intermission*/
#pd_interm{
	background-image: url("../Img/triangles.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100px;
}


/*WATCHES - Hollogram/Interface*/

#pd_title{
	text-align: center;
	font-size: 32pt;
	letter-spacing: 2px;
}

#pd_h-contain{
	width: calc(100%-20px);
	/*background-color: rgb(188, 169, 255);*/
	background-image: url(../Img/starry_sky3.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding:20px 10px;
	padding-bottom: 50px;
	align-content: center;
}

#pd_h-contain img{
	width: 70%;
	display: block;
	margin: auto;
	border: 10px solid white;
	border-radius: 50px;
}


/*WATCHES - Intermission2*/
#pd_interm2{
	background-image: url("../Img/abstract_shapes2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 8px;
}

/* WATCHES - Glass and Battery Section */

#pd_glass{
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgb(11, 18, 107), rgb(21, 108, 143),rgb(11, 18, 107));
	background-color: rgb(9, 65, 87);
	overflow: hidden;
}

.pdg_side{
	float: left;
}
 
#pdg_img{
	width: 30%;
	padding: 20px 10px;
}

#pdg_box{
	width: 65%;
	color: white;
	text-align: left;
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

#gt_title{
	font-size: 32pt;
	text-align: right;
	text-shadow: 1px 1px rgb(73, 73, 73);
	margin-bottom: 30px;
}

#gt_text{
	padding: 0px 100px;
	font-size: 18pt;
	line-height: 30px;
}

#gt_title2{
	font-size: 32pt;
	padding-left: 50px;
	padding-top: 10px;
	text-align: left;
	text-shadow: 1px 1px rgb(73, 73, 73);
	margin-bottom: 30px;
}

#pd_life{
	width: 100%;
	height: 425px;
	background-image: linear-gradient( rgb(13, 84, 112), rgb(0, 150, 125), rgb(13, 84, 112));
	overflow: hidden;
}

#pdg_img2{
	width: 25%;
	padding: 15px 10px;
}

#pdg_box2{
	width: 70%;
	color: white;
	text-align: left;
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

/* WATCHES - Privacy*/

.pd_protect{
	width: 100%;
	height: 900px;
	background-image: radial-gradient( rgb(8, 0, 44), rgb(1, 0, 14));
}

.prot_text{
	width: 80%;
	padding: 5% 10%;
	color: rgb(182, 182, 182);
	font-size: 14pt;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.658);
}

.prot_text span{
	font-size: 48pt;
	letter-spacing: 2px;
	padding-bottom: 20px;
	color: white;
	display: block;
}

.prot_screen{
	margin-left: 20%;
	margin-right: 20%;
}

#screen-form{
	width: 100%;
	height: 500px;
	background-color: rgb(207, 207, 207);
	border: 3px solid white;
}
